<h1>Season <%= @bachelorette.season_number %> Contestants</h1>
  <% @bachelorette.contestants.each_with_index do |contestant| %>
  <div id="contestant-<%= contestant.id %>">
    <h3><%= link_to "#{contestant.name}", bachelorette_contestant_path(@bachelorette, contestant) %></h3>
    <p>Age: <%= contestant.age %></p>
    <p>Hometown: <%= contestant.hometown %></p>
  </div>
<% end %>
<p>These Contestants are from these hometowns: <% @bachelorette.unique_hometowns.each_with_index do |hometown, index| %>
  <div id="hometown-<%= index %>">
    <%= hometown %>
  </div></p>
<% end %>
